*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    background: #f1f1f1;
}

/* Profile card div */
#profilecard {
    background: #f1f1f1;
    color: #333;
    width: 300px;
    height: auto;
    box-shadow: 2px 4px #333;
    transition: 0.5s;
}
#profilecard:hover {
    box-shadow: 5px 10px grey;
    background: #333;
    color: #f1f1f1;
}
#name {
    font-size: 40px;
    font-weight: 100;
}
#fb {
    height:40px;
    width: 40px;
    background: #333;
    border-radius: 50%;
    border: 1px solid black;
    transition: 0.5s;
}
#fb:hover {
    background: orange;
    border: 1px solid orange;
    box-shadow: 2px 4px #333;
}
#fb img {
    height: 40px;
    width: 40px;
}