* {
            border-radius: 24px;
}
body {
                margin: 0;
                padding: 0;
                text-align: center;
            }
            body input {
                width: 25%;
                height: 7%;
                margin-top: 5%;
                background: lightblue;
                border: none;
                font-size: 20px;
                min-height: 20px;
                transition: 0.2s;
            }
            body input:focus {
                transform: scale(1.1);
            }
            body #longbutton {
                font-size: 17px;
            }
            body .hitcounter {
                margin-left: 37.5%;
                width: 25%;
                height: 7%;
                margin-top: 5%;
                background: lightblue;
                border: none;
                font-size: 20px;
                min-height: 20px;
                transition: 0.2s;
                opacity: 0.5;
            }
            body .hitcounter:hover {
                opacity: 1;
            }