body {
    background: #333;
    margin: 0;
    padding: 0;
}
.middle {
    background: #f1f1f1;
    width: 50%;
    height: auto;
    margin-left: 25%;
    margin-top: 10%;
    text-align: justify;
    font-size: 26px;
    overflow-y: auto;
    border-radius: 24px;
}
.middle #title {
    width: 100%;
    text-align: center;
    font-size: 50px;
}
.middle a {
	height: 50px;
	background: #333;
	border: 1px solid #2ecc17;
	border-radius: 24px;
	transition: 0.2s;
	color: white;
}
.middle a:hover {
	color: white;
	background: #2ecc17;
}
.middle #search {
	width: 50%;
	border: 1px solid #333;
	border-radius: 24px;
	color: grey;
	transition: 0.2s;
}
.middle #search:focus {
	width: 55%;
	color: black;
}
.middle #go {
	width: auto;
	border: 1px solid #333;
	border-radius: 24px;
	color: #333;
	transition: 0.2s;
}
.middle #go:hover {
	background: #2ecc17;
}