body {
    background: #333;
}
body input {
    background: orange;
    width: 200px;
    height: 200px;
    margin-left: 50%;
    margin-top: 50%;
    perspective: 1000px;
    transition: 1s;
}
body input:hover {
    transform: translateX(100px) translateY(100px) rotate(90deg);
}
body input:focus {
    transform: translateX(100px) translateY(100px) rotate(90deg) translateZ(1000px)
}
body #defaultinput:focus {
    transform: scale(1.1);
    box-shadow: 5px 10px white;
}
