body {
    margin: 0;
    padding: 0;
    background: #073146;
}
iframe {
    overflow: hidden;
}
.search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #001e2d;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    transition: 0.5s;
}
.search-box:hover {
    box-shadow: 5px 5px;
}
.search-btn {
    color: #e48118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 240px;
    width: 0px;
}
.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}
#searchbutton {
    background: none;
    border-radius: 40px;
    border: none;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}
#searchbutton:hover {
    cursor: pointer;
}
#info-btn {
    background: none;
    border: none;
    transition: 0.5s transform;
    transform-origin: 50% 50%;
}
#info-btn:hover {
    transform: rotate(360deg) scale(1.3);
}
#krunker-btn {
    width:40px;
    height:40px;
    padding: 0;
    background:none;
    border:none;
    transition: 0.5s;
    transform-origin: 50% 50%;
}
.krunker-btn:hover {
    transform: scale(1.3);
}
